trigger:
- main
- feature/*
- release/*

strategy:
  matrix:
    Windows_Debug:
      image: 'windows-latest'
      buildConfiguration: 'Debug'
    Windows_Release:
      image: 'windows-latest'
      buildConfiguration: 'Release'
      publishArtifacts: true
    Ubuntu_Debug:
      image: 'ubuntu-latest'
      buildConfiguration: 'Debug'
    Ubuntu_Release:
      image: 'ubuntu-latest'
      buildConfiguration: 'Release'
    MacOS_Debug:
      image: 'macOS-latest'
      buildConfiguration: 'Debug'
    MacOS_Release:
      image: 'macOS-latest'
      buildConfiguration: 'Release'

pool:
  vmImage: $(image)

variables:
  solution: '**/*.slnx'

steps:

- task: UseDotNet@2
  displayName: 'Install .NET'
  inputs:
    version: '10.x'
    performMultiLevelLookup: true

- task: DotNetCoreCLI@2
  displayName: 'Build solution'
  inputs:
    command: 'build'
    projects: '$(solution)'
    arguments: '--configuration "$(buildConfiguration)" /p:ContinuousIntegrationBuild=true /p:DeterministicSourcePaths=true --version-suffix "ci-$(Build.SourceBranchName)-$(Build.BuildNumber)"'

- task: DotNetCoreCLI@2
  displayName: 'Run tests'
  inputs:
    command: 'test'
    projects: '$(solution)'
    arguments: '--no-build --configuration "$(buildConfiguration)" --collect "Code coverage"'

- task: CopyFiles@2
  displayName: 'Copy artifacts'
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/Source/NCompare/bin/$(buildConfiguration)'
    Contents: |
      NCompare.*.nupkg
      NCompare.*.snupkg
    TargetFolder: '$(Build.StagingDirectory)'
  condition: and(succeeded(), eq(variables.publishArtifacts, 'true'))

- task: PublishPipelineArtifact@1
  displayName: 'Publish artifacts'
  inputs:
    targetPath: '$(Build.StagingDirectory)'
    artifact: 'NuGet Packages'
  condition: and(succeeded(), eq(variables.publishArtifacts, 'true'))
